<?xml version="1.0" encoding="UTF-8"?>
<Configuration status='warn' monitorInterval="60">
    <Properties>
        <Property name="logDir">../test-log/controller/
        </Property>
        <Property name="appName">tasktracking</Property>
    </Properties>
    <Appenders>

        <RollingFile name='fileError' fileName='${logDir}/error.log'
                     filePattern="logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="warn" onMatch="ACCEPT"
                             onMismatch="DENY" />
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %-70C{4} %-40M(%-5L)
                    - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size='1 MB' />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <RollingFile name='fileInfo' fileName='${logDir}/info.log'
                     filePattern="logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="warn" onMatch="DENY"
                             onMismatch="ACCEPT" />
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %-70C{4} %-40M(%-5L)
                    - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size='1 MB' />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

        <Console name='console' target='SYSTEM_OUT'>
            <ThresholdFilter level="warn" onMatch="ACCEPT"
                             onMismatch="DENY" />
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %-70C{4} %-40M(%-5L)
                    - %msg%n</pattern>
            </PatternLayout>
        </Console>

    </Appenders>
    <Loggers>
        <Root level='info' additivity='false'>
            <appender-ref ref='console' />
            <appender-ref ref='fileInfo' />
            <appender-ref ref='fileError' />
        </Root>
    </Loggers>
</Configuration>
