<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TASKTRACKING</title>
</head>
<body>
<form action="/signup">
    Name:<br>
    <input type="text" name="name">
    <br><br>
    Emale:<br>
    <input type="text" name="email">
    <br><br>
    Password:<br>
    <input type="text" name="password">
    <br><br>

    <input type="radio" name="gender" value="male" checked> Manager<br>
    <input type="radio" name="gender" value="female"> Developer<br>

    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>